<!-- <div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="https://via.placeholder.com/1500" alt="">
            <img src="http://placekitten.com/1500" alt="">
            <img src="https://via.placeholder.com/1500" alt="">
        </div>
    </div>
</div> -->

<swiper
      [slidesPerView]="3"
      [spaceBetween]="50"
    >
      <ng-template swiperSlide>Slide 1</ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
    </swiper>
